<h1>Task list (task.all)</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.completed ? check_box_tag("checbox", "check", true) : check_box_tag("checbox", "check", false) %> <%= link_to(task.title, task) %></li>
  <% end %>
</ul>

<%= link_to("New Task", new_task_path) %>


